.App-logo {
  height: 65px;
  width: 65px;
}

.Logo {
  display: flex;
  flex-direction: row;
}

.Log-out {
  display: flex;
  flex-direction: row;
}

.Header {
  background-color: white;
  height: 82px;
  border-style: solid;
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #61dafb;
}

.Menu {
  float: left;
}

.Content {
  float: left;
}